.DS_Store
src/user_guide
src/application/cache/*
!src/application/cache/index.html

src/application/logs/*
!src/application/logs/index.html

!src/application/*/.htaccess

src/composer.lock

src/user_guide_src/build/*
src/user_guide_src/cilexer/build/*
src/user_guide_src/cilexer/dist/*
src/user_guide_src/cilexer/pycilexer.egg-info/*
src/vendor/

# IDE Files
#-------------------------
src/nbproject/
src/.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
src/tests/tests/
src/tests/results/
